numpy==1.24.1
regex==2017.4.5 # used by bpe encoder
requests==2.27.1 # used to download gpt-2 files
tensorflow==2.11.0 # used to load the gpt-2 weights from the tf checkpoint into numpy
tqdm==4.64.0 # progress bar to keep your sanity
